<!-- Corner button Container -->
<div class="corner-btn-container">

<% if(tocCornerBtn) { %>

<!-- toc-corner btn -->
<div class="corner-btn waves-effect waves-light toc-corner-btn show-on-small" id="toc-corner-btn" data-triggers="toc-normal">
  <i class="material-icons medium">toc</i>
</div>
<!-- End toc-corner btn -->

<!-- toc-corner norm btn -->
<div class="corner-btn waves-effect waves-light toc-norm-corner-btn show-on-medium-and-up" id="toc-corner-norm-btn">
  <i class="material-icons medium">all_inclusive</i>
</div>
<!-- End toc-corner norm btn -->

<% } %>

<!-- To Top btn -->
<div class="to-top waves-effect waves-light corner-btn corner-btn-hide" id="to-top">
  <i class="material-icons medium">arrow_upward</i>
</div>
<!-- End To Top btn -->
</div>
<!-- End of Corner button container -->