<div class="header header-xbig">
  <div class="header-background" style="background-image:url('/images/header_clipped.jpg')"></div>
  
</div>

<% if(showHeaderContent) { %>
  <div class="header-content">
    <div class="row blog-title blog-title-line-1">
      LTJ's BLOG
    </div>
    <div class="row blog-title blog-title-line-2">Some Text</div>
  </div>
<% } %>

<% if(showHeaderContentPlaceholder) { %>
<div class="header-content-placeholder"></div>
<% } %>
